files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 */2 * * * root /usr/local/bin/opportunity_check_cron.sh

    "/usr/local/bin/opportunity_check_cron.sh":
        mode: "000755"
        owner: ec2-user
        group: ec2-user
        content: |
            #!/bin/bash
            source /var/app/venv/st*/bin/activate && cd /var/app/current && python manage.py test
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
